*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 14pt;


    --main-color: hsla(60, 100%, 90%, 75%);
    --sub-color: rgb(156, 139, 99);
    --LRmargin: 10vw;
}

html {
    scroll-behavior: smooth;
}


img {
    max-width: 100%;
    width: 640px;
}





body {
    background-image: url(../img/back.png);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-size: 9%;
}


h2 {
    padding: 40px 0;
    font-size: 4em;
    text-decoration: underline;
}


section {
    margin: 0 30px;
}


header {
    z-index: 1000;
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--sub-color);
    display: flex;
    align-items: center;
}



header>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





header p.SITENAME {
    font-size: 7vh;
}


header li {
    list-style: none;
    display: flex;
}


header ul {
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

header li>a {
    position: relative;
    text-decoration: none;
    font-size: 3vh;
    color: black;
    padding: 2vh;
    transition: background-color 1s, color 1s;
}

header li>a:hover {
    background-color: var(--sub-color);
    color: black;
}

header li:nth-child(1)>a::before {
    position: absolute;
    content: "┃";
    font-size: 0.5em;
    top: 3vh;
    left: -1.07vh;
    color: gray;
}

header li>a::after {
    position: absolute;
    content: "┃";
    font-size: 0.5em;
    margin-left: 1.7vh;
    top: 3vh;
    color: gray;
}


section.Hero {
    margin: auto;
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: white;
}

section.Hero div.Absolute {
    width: 100%;
    height: 100%;
    position: relative;
}

section.Hero h2 {
    font-size: 8vw;
    text-decoration: none;
    position: absolute;
    bottom: 25vh;
    z-index: 2;
    padding-left: 5vw;
    padding-right: 10vw;
    border-bottom: 8px solid var(--sub-color);
}




section.Hero .background-main {
    position: absolute;
    z-index: 1;
    background-color: hsl(60, 100%, 90%);
    width: 60vw;
    bottom: 0;
    height: 100%;
    border: 5px solid var(--sub-color);
}

section.Hero .background-main::before {
    content: "";
    display: block;
    border-left: 8px solid var(--sub-color);
    position: absolute;
    width: 10px;
    height: 100%;
    left: 3vw;
}



section.Hero .background-sub {
    position: absolute;
    background-color: var(--sub-color);
    z-index: 0;
    width: 60vw;
    bottom: 0;
    right: 0;
    height: 50%;
}



section.Profile {
    margin: 10vh var(--LRmargin);
    background-color: white;
    border: 2px solid var(--sub-color);
    border-radius: 10px 10px;
    padding-bottom: 5vh;
}



section.Profile>.contents {
    padding: 0 2vw;
}

section.Profile>div.Absolute {
    position: relative;
}

section.Profile .Absolute>.background {
    left: 40px;
    top: 2vh;
    z-index: 2;
    position: absolute;
    background-color: var(--main-color);
    opacity: 0.8;
    height: 35vh;
    width: 20vw;
}


section.Profile .Absolute>.background-sub {
    left: 300px;
    top: 28vh;
    z-index: 1;
    position: absolute;
    background-color: var(--sub-color);
    opacity: 0.8;
    height: 25vh;
    width: 15vw;
}




section.Profile>div.contents>.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section.Profile span {
    z-index: 30;
    position: relative;
    font-size: 1.5rem;
    line-height: 2.5em;
}

section.Profile h2 {
    position: relative;
    z-index: 30;
}





section.Profile img {
    height: 40vh;
    width: 40vh;
    /*border: 1px solid black;*/
}




section.Working {
    margin-top: 15vh;
}





section.Working div.Absolute {
    width: 100%;
    height: 100%;
    position: relative;
}




section.Working .Absolute>.background {
    right: 4vw;
    top: 5vw;
    z-index: 2;
    position: absolute;
    background-color: var(--main-color);
    opacity: 0.8;
    height: 45vh;
    width: 20vw;
}


section.Working .Absolute>.background-sub {
    right: 20vw;
    top: 12vw;
    z-index: 1;
    position: absolute;
    background-color: var(--sub-color);
    opacity: 0.8;
    height: 25vh;
    width: 15vw;
}




section.Working {
    margin: 10vh var(--LRmargin);
    background-color: white;
    border: 2px solid var(--sub-color);
    border-radius: 10px 10px;
    padding-bottom: 5vh;
}

section.Working>.contents {
    padding: 0 2vw;
}

section.Working h2 {
    position: relative;
    z-index: 100;
    text-align: right;
}


section.Working .flex-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



section.Working .flex-exp{
    width: 28vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



section.Working h3{
    position: relative;
    z-index: 100;
    font-size: 3.2vw;
    text-align: center;
}

section.Working span {
    position: relative;
    z-index: 100;
    font-size: 1.5vw;
}

section.Working img {
    position: relative;
    z-index: 100;
}



section.Art {
    margin: 10vh var(--LRmargin);
    background-color: white;
    border: 2px solid var(--sub-color);
    border-radius: 10px 10px;
    padding-bottom: 5vh;
}


section.Art ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}




section.Art li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


section.Art li:nth-child(2n){
    flex-direction: row-reverse;
}



section.Art li img {
    width: 50%;
}


section.Art li > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


section.Art li h3 {
    font-size: 1.5rem;
    text-align: center;
}


section.Art > .contents {
    padding: 0 2vw;
}



footer {
    border-top: 4px solid rgb(96, 86, 61);
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: var(--sub-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


footer .contact {
    padding: 0 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(96, 86, 61);
}

footer a{
    text-decoration: none;
    color: white;
}